{% extends "main/base.html" %}
{% load static %}


{% block body_content%}

<h1>Загрузите видео для анализа</h1>
<div class='row'>
    <div class="form-group col-md-6">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button class = "btn btn-block btn-lg btn-gradient-primary mt-4" type="submit">Загрузить</button>
        </form>
        <span>{{ error }}</span>
                            <label for="name">YOUR NAME <sup>*</sup></label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name *" wfd-id="id0">
    </div>
</div>
<form method="post">
{% csrf_token %}
{{ form.name }}
{{ form.record_date}}
<button class = "btn btn-block btn-lg btn-gradient-primary mt-4" type="submit">Создать модель</button>
</form>
<span>{{ error }}</span>
{%endblock%}


