{%load static%}
    <header class="foi-header" style="background: linear-gradient(228deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.37479996881565125) 22%, rgba(255,255,255,0.37479996881565125) 100%);">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light foi-navbar">
                <a class="navbar-brand" href="{% url 'home' %}">
                  <img src="{%static 'images/logo.png'%}" width="150" alt="Sweepnet">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Главная<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="features.html">Возможности</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="features.html">Приложение</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item mr-2 mb-3 mb-lg-0">
                            <a class="btn btn-secondary" href="register.html">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary" href="login.html">Вход</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>